@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);

* { box-sizing: border-box;margin: 0; padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}

h1, h2 {
  text-align: center;
}
h1, h2, h3 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: royalblue;
  font-weight: 100;
  &:hover {
    color: #333;
  }
}

.header {
  background-color: #333;
  color: white;
  padding: 1em;
}
.footer {
  font-size: small;
  font-weight: 100;
  color: #666;
  padding: 0.5em;
  text-align: center;
}
.heart {
  color: pink;
}

.main-app {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  top: 0;
  padding: 1em;
  min-height: 80vh;
}
.comment-list ,
.post-list ,
.user-list {
  list-style-type: none;
  padding: 0;
}

.comment-list__item,
.post-list__item,
.user-list__item {
  margin: 10px;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
}

.list-id {
  font-size: small;
  color: #aaa;
}
.list-username {
  color: #333;
}
.list-email {
  font-size: small;
  color: #aaa;
  font-style: italic;
}

.back-btn {
  position: absolute;
  border: 4px solid #eee;
  color: #333;
  padding: 0.5em 1em;
  padding-left: 2em;
  display: inline-block;
  position: relative;
  transition: border 0.2s;

  &:hover {
    border: 4px solid #ccc;
  }

  &:before {
    content: '<';
    position: absolute;
    left: 10px;
    font-size: 1em;
  }

}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.main-app {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.1s;
}


.loader {
  animation: spin 1.5s linear infinite;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 100px auto 0;


  border: 4px solid cornflowerblue;
  border-radius: 50%;


  &:after {
    content:"";
    width: 85%;
    height: 85%;
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0) 100%);
    position: absolute;
    top:0;
    left: 0;
    transform: translate(-5%,-5%);
  }

  &.moon {
    &:after {
      display: none;
    }
    border-left: 0;
    border-top: 0;

  }
}



@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
